body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

section {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  height: 500px;
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
  border-width: 2px;
}

img {
  width: 290px;
  height: 280px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

header {
  text-align: center;
  width: 290px;
  font-size: 15px;
  size: 200px;
  margin: auto;
  font-family: 'Outfit', sans-serif;
  color: hsl(218, 44%, 22%);
}

footer{
  text-align: center;
  width: 260px;
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  margin: auto;
}